<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/408c969056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Notepad/base.css' %}">
    {% block link %} {% endblock link %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>

    {% block header %}
    <header>
        <h2>Rabbit Note</h2>
    </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer>
        <div class="socials">
            <a href="https://t.me/Smal1378" target="_blank"><i class="fab fa-telegram fa-3x"></i></a>
            <a href="https://github.com/smal1378/RabbitNote" target="_blank"><i class="fab fa-github fa-3x"></i></a>
        </div>
        <p>&copy; 2021 AHC Team</p>
    </footer>
    {% endblock footer %}

    <script>
        var csrf = "{{csrf_token}}"
    </script>
    
    {% block script %}
    {% endblock script %}
</body>
</html>