{% extends 'Notepad/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'Notepad/home.css' %}">
{% endblock link %}

{% block title %}
Home | RabbitNote
{% endblock title%}

{% block header %}
{% endblock header %}

{% block content %}
<div id="home-container">
    <header>
        Rabbit Note
    </header>

    <div class="home-content">
        <div class="notebookes-list list">
            <div>نوتبوک ها</div>
            <div class="plus">
                <button id="add-notebook" onclick="addNotebook()"><i class="fas fa-plus fa-2x"></i></button></i>
            </div>
            <ul id="ul-of-notebooks"></ul>
        </div>
        <div class="notes-list list" id="notes-id">
            <div>نوت ها</div>
            <div class="plus">
                <button id="add-note" onclick="addNote()"><i class="fas fa-plus fa-2x"></i></button></i>
            </div>
            <ul id="ul-of-notes"></ul>
        </div>
    </div>

    <footer>
        <div class="socials">
            <a href="https://t.me/Smal1378" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
            <a href="https://github.com/smal1378/RabbitNote" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <p>&copy; 2021 AHC Team</p>
        </div>
    </footer>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block script %}
<script>
    csrf = "{{csrf_token}}"
</script>

<script src="{% static 'Notepad/script/home.js' %}"></script>
{% endblock script %}