:root {
    --primary-color: #3DCCC7;
    --secondary-color: #cbf3f0;
    --dark-gray: #4c5c68;
    --green-color: #70e000;
    --red-color: #ff4411;
    --errorbox-color: #e9cceb;
    --errortext-color: #825a85;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* utilities */
.btn-dark {
    background-color: var(--dark-gray);
    border: 3px solid var(--dark-gray);
    width: 100%;
    padding: 13px 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.75s;
}

.btn-dark:hover {
    background-color: #fff;
	color: var(--dark-gray);
	border: 3px solid var(--dark-gray);
}

.btn-light {
    color: var(--dark-gray);
    border: none;
    padding: 13px 10px;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.75s;
    background-color: #ddd;
}

.btn-light:hover {
    background-color: var(--dark-gray);
    color: #fff;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    text-align: center;
    background: var(--primary-color);
}

header h2 {
    margin: 20px 0;
}


/* Footer */
footer {
    background-color: var(--primary-color);
    margin-top: 140px;
}

footer .socials {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

footer .socials a {
    color: #fff;
    margin: 30px 0 0 30px;
    transition: all 0.75s;
}

footer .socials a:first-child {
    margin-left: 0;
}

footer .socials a:hover {
    color: #4c5c68;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}

@media(max-width: 600px) {
    footer .socials {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
}
