#home-container {
    height: 100vh;
}

#home-container header {
    height: 10vh;
}

#home-container header h2 {
    font-size: 1.5rem;
    padding: 5px 0;
}

#home-container .home-content {
    height: 80vh;
    display: flex;
}

#cover-text {
    background-image: url("images/pattern.jpg");
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#cover-text:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.9;
}

#cover-text div {
    font-size: 3rem;
    color: #fff !important;
    z-index: 2;
}

#home-container .home-content .list {
    width: 15%;
    height: 100%;
    background-color: var(--dark-gray);
    overflow: auto;
    color: #fff;
    text-align: center;
    border-right: 1px solid #ccc;
}

#home-container .home-content .list div {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 1.2rem;
}

#home-container .plus {
    padding: 0 !important;
}

#home-container .plus button {
    background-color: var(--dark-gray);
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#home-container .plus i {
    transition: all 0.75s;
}

#home-container .list .plus button:hover i {
    transform: rotate(90deg);
    color: var(--green-color);
}

#home-container .list li {
    border-bottom: 1px solid #ccc;
}

.list li .delete-item {
    background-color: var(--red-color);
    margin: 5px;
    border: none;
    border-radius: 4px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 80%;
    margin-bottom: 0;
}

.list li .delete-item:hover {
    opacity: 0.8;
}

#home-container .list li button {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--dark-gray);
    border: none;
    color: #fff;
    transition: all 1s;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
}

#home-container .list li button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-gray);
}

#home-container .list li button:hover .delete-item {
    visibility: visible;
}

#notes-id {
    transform: translateX(-100%);
    transition: all 1s;
    z-index: -1;
}

/* Text Container */
#text-container {
    width: 100%;
    height: 80vh;
    position: relative;
}

#text {
    width: 100%;
    height: 100%;
    direction: rtl;
    font-size: 1.3rem;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
    visibility: hidden;
}

#home-container footer {
    height: 10vh;
    margin-top: 0;
    position: sticky;
    top: 90%;
}

#home-container footer .socials a {
    margin-top: 0;
}

#home-contaienr footer p {
    padding: 0;
    align-self: center;
}